*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /**** Primary-colors: Box **************/
    --bright-orange-b: hsl(31, 77%, 52%);
    --dark-cyan-b: hsl(184, 100%, 22%);
    --very-dark-cyan-b: hsl(179, 100%, 13%);
    --green-b: #05aa42;
    --light-blue-b: #01aefd;
    --deep-orange-b: #eb5020;
    --light-yellow-b: #ffa401;
    --deep-purple-b: #1a1c28;

    /***** Paragraph color ****************/
    --transparent-white-p: hsla(0, 0%, 100%, 0.75);

    /*****Btn, background, headings colors ****************/
    --very-light-gray-bbh: hsl(0, 0%, 95%);

    /*** basic size for letters ***/
    --gly-basic: 1.5rem;
}

html {
    font-size: 62.5%;
}

body {
    font-size: var(--gly-basic);
    font-family: sans-serif;
    line-height: 1.2;
}

.container {
    width: 50rem;
    background-color: var(--deep-purple-b);
    margin: 2rem auto;
    padding: 3rem 4rem;

    display: grid;
    grid: auto-flow 7rem / repeat(12, 1fr);
    gap: .8rem;
}



.box-1 {
    grid-column: span 8;
    grid-row: span 2;
    background-color: var(--deep-orange-b);
}

.box-2 {
    grid-column: span 4;
    grid-row: span 2;
    background-color: var(--light-yellow-b);
}

.box-3 {
    grid-column: span 5;
    grid-row: span 2;
    background-color: var(--green-b);
}

.box-4,
.box-5 {
    grid-column: span 7;
    grid-row: span 1;
    background-color: var(--light-blue-b);
}

.btn-check:link,
.btn-check:visited {
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 3rem;
    color: #eaeaea;
    background-color: rgba(5, 5, 5, .8);
    border: 2px solid transparent;
}

.btn-check:hover,
.btn-active {
    border: 2px solid #eaeaea;
}