/*******************************
    Desktop's Width:1440px;
********************************/
.container {
    max-width: 100%;
    min-height: 40rem;
    width: 70rem;
    margin: 10rem auto;
    background-color: #eaeaea;

    display: flex;
    row-gap: 2px;
}

.flex-item {
    /* background-color: #ff0037; */
    padding: 5rem 2.6rem;

    flex: 1 
}


/*******************************
    Mobile's Width:375px
********************************/
@media (max-width: 50rem) {
    .container {
        max-width: 100%;
        width: 37.5rem;
        margin: 5rem auto;
        background-color: #eaeaea;
    
        display: flex;
        row-gap: 2px;
    }
    
    .flex-item {
        background-color: #ff0037;
        padding: 10px;
    
        flex: 1 
    }  
}